- var cnt = 0;
- var card;
doctype html
// [if lt IE 7]>      <div data-pug="html" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]
// [if IE 7]>         <div data-pug="html" class="no-js lt-ie9 lt-ie8"> <![endif]
// [if IE 8]>         <div data-pug="html" class="no-js lt-ie9"> <![endif]
// [if gt IE 8]>      <div data-pug="html" class="no-js"> <!--<![endif]
html(lang="en")
  head
    meta(charset="utf-8")
    meta(
      content="IE=edge" 
      http-equiv="X-UA-Compatible"
      )
    title rogedbengine
    meta(
      content="" 
      name="description"
      )
    meta(
      content="width=device-width, initial-scale=1" 
      name="viewport"
      )
    link(
      href="css/newstyle.css" 
      rel="stylesheet"
      )
    link(href="https://code.jquery.com/ui/1.13.2/themes/black-tie/jquery-ui.css")
    //link(
      href="/lib/jquery-ui/jquery-ui.theme.min.css" 
      rel="stylesheet"
      )
  body
    //
      [if lt IE 7]>
       <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
       <![endif]
    #cont
      //p=data['cards']
      #statusBar
        div.unselectable 
          span#playerHealth
            p=data['player'].currentLife
      #arena
        #player
          //img(src="/images/knight1.gif")
          p player_image
        #enemies
          each enemy,index in data['enemies']
            div(id='enemy'+index class='enemy droppable')
              //img(src="/images/troll_warlord.png")
              p=enemy.name
              div
                label=enemy['health']
                progress(
                    max=enemy['health']
                      value=enemy['health']
                  )
      #playArea
        #board
          #mana
            p=data['player'].currentMana
          #deck
            #drawPile
              p 25
            #discardPile
              p 15
          button#endTurn(onclick="endTurn();") End Turn
        #hand
          //each card,index in data['cards']
          for cnt in [...Array(6).keys()]
            - card=data['cards'][cnt]
            div.cardContainer
              div(id='card'+cnt class='card draggable template')
                .cardTitle
                  span.cCost=card.Cost
                  span.cName=card.Name
                  span.cDamage=card.Damage
                .cardImage MyImage
                .cardDescription MyDescription
    audio#thwack(
      src="/sounds/whack.mp3" 
      preload="auto"
      )
    //script(src="/lib/jquery/query-3.7.1.min.js")
    script(src="https://code.jquery.com/jquery-3.7.1.min.js")
    //script(src="/lib/jquery-ui/jquery-ui.min.js")
    script(src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js")
    script(
      blocking="render"
      src="/js/main.js" 
      )